@font-face{
    font-family: 'caros';
    src: url('../font/cretype\ \ Caros.otf');
}

@font-face{
    font-family: 'caros_bold';
    src: url('../font//cretype\ \ Caros\ Bold.otf');
}

@font-face{
    font-family: 'carosM';
    src: url('../font/cretype\ \ Caros\ Medium.otf');
}

.cardDesign{

    border: 1px solid;
    border-radius: 40px;
    padding: 10px ;
    margin-top: 20px;
    cursor: pointer;
  transition: 0.4s;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
}
.labelHireValue{
    font-family: 'carosM';
    font-size: 18px;
    color : #F98935;
    margin-bottom: 20px;
}
.rowDesign{

    margin-bottom: 5px;
}
.cardDesign:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }