@font-face{
    font-family: 'caros';
    src: url('../font/cretype\ \ Caros.otf');
}

@font-face{
    font-family: 'caros_bold';
    src: url('../font//cretype\ \ Caros\ Bold.otf');
}

@font-face{
    font-family: 'carosM';
    src: url('../font/cretype\ \ Caros\ Medium.otf');
}

.companyLogin{
overflow-x: hidden;
position: relative;
}

.btn_submitCL{

    position: relative;
    margin-top: 20px;
    background-color: #F98935;
    border: none;
    border-radius: 25px;
    color: #023858;
    font-family: 'caros_bold';
    font-size: 20px;
    padding: 10px;
    width: 340px;
    text-align: center;
}
.btn_submitCL:focus{
    outline: none;
}
#userErr{
    display: none;
}

#passErr{
    display: none;
}

.loginBorder{

    /* border: 2px solid #023858; */
    border-radius: 10px;
}

@media only screen and (max-width: 766px) {
   .btn_submitCL{
       width : 100%;
       margin-top: 10px;
   }
}