@font-face {
    font-family: 'caros';
    src: url('../font/cretype\ \ Caros.otf');
}

@font-face {
    font-family: 'caros_bold';
    src: url('../font//cretype\ \ Caros\ Bold.otf');
}

@font-face {
    font-family: 'carosM';
    src: url('../font/cretype\ \ Caros\ Medium.otf');
}

.errorMessage {
    position: relative;
    overflow-x: hidden;

    margin: auto;

}

.errorMessage h1 {

    font-size: 40px;
    color: #FF4D4D;
    font-family: 'caros_Bold';

}

.homepageBtn {

    position: relative;
    border: none;
    border-radius: 10px;
    color: #023858;
    font-family: 'caros_bold';
    font-size: 20px;
    padding: 10px;
    width: 370px;
    background-color: #F98935;
    font-family: 'caros_Bold';
    margin-bottom: 20px;
    margin-top: 20px;
}

.errorMessage img {
    height: 600px;
}

.homepageBtn:focus {
    outline: none;
}

@media only screen and (max-width: 766px) {
    .errorMessage img {

        height: 250px;
    }

    .homepageBtn {
        width: 100%;
    }
}