@font-face {
    font-family: 'caros';
    src: url('../font/cretype\ \ Caros.otf');
}

@font-face {
    font-family: 'caros_bold';
    src: url('../font//cretype\ \ Caros\ Bold.otf');
}

@font-face {
    font-family: 'carosM';
    src: url('../font/cretype\ \ Caros\ Medium.otf');
}

.mainforgot{
    overflow-x: hidden;
    position: relative;
    margin-bottom: 15px;
}

.imgForgot{
    margin-bottom:30px ;
    margin-top: 40px;
}

.forgotpswd{
  
    margin:auto; 
    text-align:justify;
    
}


.forgotpswd h1{
    font-family: 'caros_Bold';
    color:#023858;
    font-size: 50px;
    margin-left: 75px;
 
}

.inputforgotemail{
    padding: 13px;
    margin-top: 30px;
    width: 370px;
    border: 2px solid #ccc;
    border-radius: 10px;

    color: #2d2d2d;
    font-family: 'carosM';


}

 .inputforgotemail:focus {

    outline:none;

}

.inputforgotemail::placeholder {
    color: rgba(45, 45, 45, 0.3);
    /* Firefox */
}

.inputforgotemail:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(45, 45, 45, 0.3);
}

.inputforgotemail::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(45, 45, 45, 0.3);
}
.forgotSendBtn{

    position: relative;
    margin-top: 20px;
    background-color: #F98935;
    border: none;
    border-radius: 10px;
    color: #023858;
    font-family: 'caros_bold';
    font-size: 20px;
    padding: 10px;
    width: 370px;

}
.forgotLoginBtn{
    position: relative;
    margin-top: 20px;
    background-color: #f8f8f8a6;
    border: none;
    border-radius: 10px;
    color: #ADA5A5;
    font-family: 'caros_bold';
    font-size: 20px;
    padding: 10px;
    width: 370px;
  
}
#forgotEmailError{
    display: none;
text-align: left;
margin-left: 85px;
}

.inputElementForgot{
    height :70px ; 
}

.forgotSendBtn:focus{
    outline: none;
}

.forgotLoginBtn:focus{
    outline:none ; 
}

@media only screen and (max-width: 766px) {
    .forgotSendBtn {
        width: 100%;
    }

    .forgotLoginBtn {
        width: 100%;
    }

    .inputforgotemail{
        width : 100%;
    }

    .forgotpswd h1{
        font-size: 40px;
        margin-left: 0px;

    }
    .imgForgot{
        margin-top:10px;
    }
    #forgotEmailError{
        margin-left: 0px;
    }
}