@font-face {
    font-family: 'caros';
    src: url('../font/cretype\ \ Caros.otf');
}

@font-face {
    font-family: 'caros_bold';
    src: url('../font//cretype\ \ Caros\ Bold.otf');
}

@font-face {
    font-family: 'carosM';
    src: url('../font/cretype\ \ Caros\ Medium.otf');
}

.mainforgot{
    overflow-x: hidden;
    position: relative;
}

.forgotpswd{
  
    margin:auto; 
    
}

.forgotpswd h1{
    font-family: 'caros_Bold';
    color:#023858;
    font-size: 50px;
}

.inputforgotemail{
    padding: 10px;
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #D4E1F5;
    color: #2d2d2d;
    font-family: 'carosM';


}

 .inputforgotemail:focus {

    outline:none;

}
.forgotSendBtn{

    position: relative;
    margin-top: 20px;
    background-color: #106EEB;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-family: 'caros_bold';
    font-size: 20px;
    padding: 10px;
    width: 300px;

}
.forgotLoginBtn{
    position: relative;
    margin-top: 20px;
    background-color: #F9FAFC;
    border: none;
    border-radius: 10px;
    color: #ADA5A5;
    font-family: 'caros_bold';
    font-size: 20px;
    padding: 10px;
    width: 300px;

}
