@font-face {
	font-family: "caros";
	src: url("../font/cretype\ \ Caros.otf");
}

@font-face {
	font-family: "caros_bold";
	src: url("../font//cretype\ \ Caros\ Bold.otf");
}

@font-face {
	font-family: "carosM";
	src: url("../font/cretype\ \ Caros\ Medium.otf");
}

.bg_he {
	background: #dee6f1;
}

.logo {
	color: #01355d;
	font-size: 22px;
}
.tryyy {
	position: fixed;
	background: #dee6f1;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}
.log_out_1 {
	color: white;
	font-family: "caros";
}
.log_out_1:hover {
	text-decoration: none;
	color: #01355d;
}

.me_1 {
	margin-left: 10px;
	margin-right: 10px;
}

.logoImg {
	width: 140px;
	/* height: 50px; */
}

.inp_search {
	/* width: calc(500px - 70px) !important; */
	width: 500px !important;
	font-family: "caros";
	font-size: 13px;
	border-radius: 7px;
	outline: none;
	/* border: 1px solid rgba(45, 45, 45, 0.4); */
	border: none;
}

.inp_search:focus {
	outline: none;
	box-shadow: none;
	/* border: 1px solid rgba(45, 45, 45, 0.4); */
	border: none;
}

.add_post_btn {
	padding: 7px;
	border: none;
	/* background: #01355D;
    color: #fff; */
	background: #f8951d;
	outline: none;
	font-size: 12px;
	font-family: "caros";
	border-radius: 8px;
	color: white;
}

.add_post_btn:focus {
	outline: none;
}
.nav_11 {
	float: right;
}
.see_more_n {
	padding: 7px;
	border: none;
	/* background: #01355D;
    color: #fff; */
	background: #f8951d;
	outline: none;
	font-size: 12px;
	font-family: "caros";
	border-radius: 8px;
	color: white;
}

.see_more_n:focus {
	outline: none;
}

.logout_btn_dd {
	background-color: #f8951d;
	border: none;
	font-family: "caros";
	font-size: 12px;
	padding: 7px;
	border-radius: 8px;
	color: white;
}

.logout_btn_dd:focus {
	outline: none;
}

.logg_img {
	width: 14px;
}

.summary_bx_1 {
	resize: none;
	height: 70px;
	color: #2d2d2d;
	font-family: "caros";
	border: 0.5px solid rgba(45, 45, 45, 0.2);
	padding: 7px;
	width: 100%;
	margin-bottom: 20px;
}

.summary_bx_1:focus {
	outline: none;
	border: 0.5px solid rgba(45, 45, 45, 0.2);
}
.slect_11 {
	border-radius: 0px;
	font-family: "carosM";
	width: 85px !important;
	font-size: 13px;
	text-align: left;
	background: #fff;
	/* border: 1px solid rgba(45, 45, 45, 0.4); */
	border: 0.5px solid rgba(45, 45, 45, 0.2);
	border: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.slect_11:focus {
	outline: none;
	/* border: 0.5px solid rgba(45, 45, 45, 0.2); */
	box-shadow: none;
}
/* .slect_11_option{
    text-align: center !important;
    padding: 5px !important;
} */

.search_btn {
	background: #f8951d;
	border: none;
	font-family: "caros";
	font-size: 13px;
	color: #fff;
	padding: 7px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.search_btn:focus {
	outline: none;
}

.inp_sub {
	width: 100%;
	border: 0.5px solid rgba(45, 45, 45, 0.2);
	font-family: "caros";
	/* border-radius: 12px; */
	color: #045174;
	font-size: 16px;
	padding: 8px;
	margin-bottom: 20px;
}

.inp_sub:focus {
	outline: none;
	border: 0.5px solid rgba(45, 45, 45, 0.2);
}

.story_p {
	color: #045174;
	font-size: 18px;
	font-family: "carosM";
	/* margin-top: 15px; */
	margin-bottom: 5px;
}

.sidebar_menu {
	display: none;
}

/* .some_try_height{
    height: 400px;
} */

.errorr_posts {
	color: #ff5656;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	margin-top: 3px;
	font-weight: 600;
	text-align: center;
}
.helpheader {
	color: #01355d;
	text-decoration: none;
}

.helpheader:hover {
	text-decoration: none;
	color: #01355d;
}

.linksearchpage {
	text-decoration: none;
	color: white;
}
.linksearchpage:hover {
	text-decoration: none;
	color: white;
}
.homeDashboard {
	margin-left: 15px;
	height: 35px;
	width: 35px;
}
.some_btn_11{
	display: none;
}

@media (max-width: 991px) {
	.sidebar_menu {
		width: 40px;
		display: block;
	}
	.some_btn_11{
		background: transparent;
		border: none;
		display: block;
		width: 30px;
	}
	.some_btn_11:focus{
		outline: none;
	}
}
@media(max-width:766px){
	.sidebar_menu{
		width: 25px;
	}
	.logoImg{
		width: 100px;
	}
}