@font-face{
    font-family: 'caros';
    src: url('../font/cretype\ \ Caros.otf');
}

@font-face{
    font-family: 'caros_bold';
    src: url('../font//cretype\ \ Caros\ Bold.otf');
}

@font-face{
    font-family: 'carosM';
    src: url('../font/cretype\ \ Caros\ Medium.otf');
}

.wholeHiring{
    margin-top: 10px;
    padding-left: 40px;
}

.headHiring{
    font-family:  'caros_bold';
    color : #F98935 ;
}