@font-face{
    font-family: 'caros';
    src: url('../font/cretype\ \ Caros.otf');
}

@font-face{
    font-family: 'caros_bold';
    src: url('../font//cretype\ \ Caros\ Bold.otf');
}

.whole_m{
    position: relative;
    overflow-x: hidden;
    /* background: #DEE6F1; */
    height: 100vh;
}
.mrgb_2{
    margin-top: 40px;
}
.cust_m{
    color: #045174;
    font-size: 22px;
    font-family: 'caros_bold';
}
.add_btn_m{
    border: none;
    border-radius: 7px;
    background: url('../img/plus.svg');
    background-repeat: no-repeat;
    background-position: right 14px bottom 11px;
    background-size: 20px 20px;
    width: 96px;
    text-align: justify;
    background-color: #045174;
    color: #fff;
    font-family: 'caros';
    font-size: 16px;
    padding: 9px;
    float: right;
}
.add_btn_m:focus{
    outline: none;
}

.table_1_m {
    text-align: center;
    font-family: 'caros';
    border: none !important;
    width: 100%;
    box-shadow: 5px 5px 15px 15px #00000015;
    margin-top: 20px;
    margin-bottom: 50px;
}

.table_1_m td,
.table_1_m th {
    padding: 12px;
}

.table_1_m tbody {
    color: #01355D;
    font-size: 14px;
    /* line-height: 1.2; */
    font-family: 'caros';
    background: #fff;
}

.table_1_m tbody tr{
    padding: 10px;
    border-bottom: 1px solid #DBDEE2;
}

.table_1_m thead {
    background-color: #F8951D;
}

.table_1_m th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    font-size: 16px;
    font-family: 'caros_bold';
    color: #2D2D2D;
}
.see_more_m{
    width: 100px;
    padding: 6px;
    border: none;
    background: #01355D;
    color: #fff;
    outline: none;
    font-family: 'caros';
    border-radius: 8px;
    float: right;
}
.see_more_m:focus{
    outline: none;
}

.labelMentor{
   
    font-family: 'caros_Bold';
    color:#F8951D;
    margin-bottom: 0px;
    display: inline-block;

}
.inputElementMentor{
    color: #01355D;
    font-family: 'caros';
    margin-bottom: 0px;
    display: inline-block;
    height: 35px;

    
}
.form-control{
    margin-bottom: 0px;
}

.submitBtnMentor{

    position: relative;
    background-color: #F8951D;
    border: none;
    border-radius: 25px;
    color: #023858;
    font-family: 'caros_bold';
    font-size: 20px;
    padding: 5px;
    width: 140px;
}

.submitBtnMentor:hover{
      background-color: #F8951D;
}

.modal-footer {
    border-top: 0 none;
    padding:0px;
    margin:0px;
}
.modal-title{
   height: 10px;
    color:#023858
}

.form-group{
    height : 70px;
}

#nameErrM{
    display: none;
}
#emailErrM{
    display: none;
}
#contactErrM{
    display: none;
}
#qualiErrM{
    display: none;
}
#pswdErrM{
    display: none;
}
#dobErrM{
    display: none;
}
@media(max-width:991px){
    .table_m{
        overflow-x: scroll;
    }
}