@font-face{
    font-family: 'caros';
    src: url('../font/cretype\ \ Caros.otf');
}

@font-face{
    font-family: 'caros_bold';
    src: url('../font//cretype\ \ Caros\ Bold.otf');
}

@font-face{
    font-family: 'carosM';
    src: url('../font/cretype\ \ Caros\ Medium.otf');
}

.main_prof{
    padding-left: 220px;
    width: 100%;
    /* background: #f5f5f5; */
}
.whole_27{
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    background: #f5f5f5;
}
.mm_11{
    margin-top: 80px;
}
.margin_11{
    margin-top: 20px;
}
.edit_btn_p{
    border: none;
    float: right;
    border-radius: 6px;
    background: #F8951D;
    color: #fff;
    font-size: 15px;
    font-family: 'caros_bold';
    padding: 7px;
    
}
.edit_btn_p:focus{
    outline: none;
}
.userImg1{
    width: 110px;
    /* max-width: 100%; */
    /* float: right; */
    /* margin-top: 40px; */
}



.add_bio_btn{
    border: none;
    border-radius: 6px;
    background: #F8951D;
    color: #fff;
    font-size: 13px;
    font-family: 'caros_bold';
    padding: 10px;
    margin-bottom: 10px;
}

.add_bio_btn:focus{
    outline: none;
}

.name{
    font-family: 'carosM';
    color: #045174;
    font-size: 20px;
    margin-bottom: 6px;
}

.summary_bx{
    resize: none;
    height: 70px;
    width: 240px;
    border: 1px solid rgba(45,45,45,0.3);
}

.summary_bx:focus{
    outline: none;
    border: 1px solid rgba(45,45,45,0.3);
}

.connections_1{
    font-family: 'caros_bold';
    color: #045174;
    font-size: 20px;
    margin-bottom: 6px;
}

.requetss_1{
    font-family: 'caros_bold';
    color: #045174;
    font-size: 20px;
    margin-bottom: 6px;
}

.kindNav{
    background: #E4E4E4;
    padding: 8px;
}

.kindLinkss{
    font-family: 'caros_bold';
    color: #045174;
    font-size: 17px;
}

.post_box{
    background: #fff;
    padding: 10px;
    /* width: 500px; */
    /* box-shadow: 5px 5px 10px #00000014; */
}

.post_Img{
    width: 30px;
    /* display: inline-block; */
}

.user_Name{
    /* display: inline-block; */
    color: #045174;
}

.box_postt{
    border: 1px solid black;
    width: 480px;
    height: 200px;
    margin-bottom: 5px;
}

.star_btn{
    border: none;
    background: #F8951D;
    color: #045174;
    padding: 6px;
    /* float: right; */
}

.star_btn:focus{
    outline: none;
}

.count_btn{
    border: none;
    background: #F8951D;
    color: #045174;
    padding: 6px;
    /* margin-right: 7px;
    float: right; */
}

.count_btn:focus{
    outline: none;
}

.profile_md{
    font-size: 17px;
    font-family: 'caros_bold';
    color: #045174;
    margin-bottom: 7px;
}

.inp_prof{
    border: 1px solid rgba(45,45,45,0.6);
    width: 100%;
    font-size: 15px;
    padding: 7px;
    resize: none;
    margin-bottom: 10px;
    font-family: 'caros';
}

.inp_prof:focus{
    outline: none;
    border: 1px solid rgba(45,45,45,0.6);
}