@font-face{
    font-family: 'caros';
    src: url('../font/cretype\ \ Caros.otf');
}

@font-face{
    font-family: 'caros_bold';
    src: url('../font//cretype\ \ Caros\ Bold.otf');
}

@font-face{
    font-family: 'carosM';
    src: url('../font/cretype\ \ Caros\ Medium.otf');
}

.whole_22{
    position: relative;
    overflow-x: hidden;
}

.pdddm{
    padding: 2% 20%;
}

.nnnm{
    border: 1px solid rgba(45, 45, 45, 0.2);
    padding: 2%;
}

.hrexp_1{
    height: 70px;
}

.start_yr{
    width: 110px;
    /* width: 100%; */
    padding: 6px;
    border: none;
    background: #01355D;
    color: #fff;
    outline: none;
    font-family: 'caros';
    border-radius: 8px;
    /* float: right; */
}
.start_yr:focus{
    outline: none;
    border: none;
}

.rad_txt{
    color: #01355D;
    font-family: 'carosM';
    font-size: 16px;
    margin-right: 20px;
}

.emp_select{
    border: 0.5px solid rgba(45, 45, 45, 0.2);
    font-family: 'caros';
    border-radius: 5px;
    color: #045174;
    font-size: 15px;
    padding: 8px;
}

.emp_select:focus{
    outline: none;
    border: 0.5px solid rgba(45, 45, 45, 0.2);
    box-shadow: none;
}

.emp_sel_txt{
    color: #045174;
    font-family: 'caros';
    padding: 7px;
}

.emp_sel_txt_1{
    visibility: hidden;
}

#emp_ff{
    display: none;
}
.start_yr_inp{
    width: 100%;
    border: 0.5px solid rgba(45, 45, 45, 0.2);
    font-family: 'caros';
    border-radius: 5px;
    color: #045174;
    font-size: 15px;
    padding: 8px;
}

.start_yr_inp:focus {
    outline: none;
    border: 0.5px solid rgba(45, 45, 45, 0.2);
}

.next_2btn {
    font-family: 'caros_bold';
    color: #fff;
    padding: 9px;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    width: 100%;
    background: #F8951D;
    margin-bottom: 30px;
    margin-top: 4px;
    display: none;
}

.next_2btn:focus{
    outline: none;
}

.sub_btn_step{
    font-family: 'caros_bold';
    color: #fff;
    padding: 9px;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    width: 100%;
    background: #F8951D;
    /* margin-bottom: 30px;
    margin-top: 4px; */
    margin-bottom: 25px;
}

.sub_btn_step:focus{
    outline: none;
}

@media(max-width:1200px){
    .pdddm{
        padding: 8% 10%;
    }
}
@media(max-width:991px){
    .pdddm{
        padding: 8% 2%;
    }
    .nnnm{
        border: none;
    }
}