@font-face{
    font-family: 'caros';
    src: url('../font/cretype\ \ Caros.otf');
}

@font-face{
    font-family: 'caros_bold';
    src: url('../font//cretype\ \ Caros\ Bold.otf');
}
.mrgb_1{
    margin-top: 40px;
}
.add_btn{
    border: none;
    border-radius: 7px;
    background: url('../img/plus.svg');
    background-repeat: no-repeat;
    background-position: right 14px bottom 11px;
    background-size: 20px 20px;
    width: 96px;
    text-align: justify;
    background-color: #045174;
    color: #fff;
    font-family: 'caros';
    font-size: 16px;
    padding: 9px;
    float: right;
}
.add_btn:focus{
    outline: none;
}
.whole{
    position: relative;
    overflow-x: hidden;
    /* background: #DEE6F1; */
    height: 100vh;
}
.cust{
    /* margin-top: 40px; */
    color: #045174;
    font-size: 22px;
    font-family: 'caros_bold';
}

.table_1 {
    text-align: center;
    font-family: 'caros';
    border: none !important;
    width: 100%;
    box-shadow: 5px 5px 15px 15px #00000015;
    margin-top: 20px;
    margin-bottom: 50px;
}

.table_1 td,
.table_1 th {
    padding: 12px;
}

.table_1 tbody {
    color: #01355D;
    font-size: 14px;
    /* line-height: 1.2; */
    font-family: 'caros';
    background: #fff;
}
.table_d{
    width: 100%;
}

.table_1 tbody tr{
    padding: 10px;
    /* width: 100%; */
    border-bottom: 1px solid #DBDEE2;
}

.table_1 thead {
    background-color: #F8951D;
}

.table_1 th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    font-size: 16px;
    font-family: 'caros_bold';
    color: #2D2D2D;
}
.pdlr{
    padding-right: 0px;
}
.pdrr{
    padding-left: 0px;
}
.see_more{
    width: 110px;
    /* width: 100%; */
    padding: 6px;
    border: none;
    background: #01355D;
    color: #fff;
    outline: none;
    font-family: 'caros';
    border-radius: 8px;
    /* float: right; */
}
.see_more:focus{
    outline: none;
    border: none;
}
.plus_img{
    width: 18px;
}
.seemore_dropitem{
    font-family: 'caros';
    color: #01355D;
    font-size: 15px;
    border-bottom: 0.5px solid rgba(45, 45, 45, 0.2);
}
.seemore_dropitem1{
    font-family: 'caros';
    color: #01355D;
    font-size: 15px;
}

@media(max-width:991px){
    .table_d{
        overflow-x: scroll;
    }
}